<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DataDrivenFramework">
  <test thread-count="5" name="ValidLogin">
    <classes>
      <class name="driverFactory.AdminLoginValidData"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="InvalidLogin">
    <classes>
      <class name="driverFactory.AdminLoginInvalidData"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- DataDrivenFramework -->
